.card {
    margin-top: 30px;
    border-radius: 15px;
    background-color: #343A3F;
}

.fixedHeight {
    height: 325px;
}

.add-patient {
    text-align: center;
    font-size: 5.5rem;
}

.user-icon {
    font-size: 90px;
    text-align: center;
}

.info-patient {
    text-align: right;
    font-size: 20px;
}

a.centralizar {
    height: 3.75em;
    display: inline-flex;
    align-items: center;
    justify-content: center 
}

@media (max-width: 700px) {
    .card-columns {
      -moz-column-count: 3;
      column-count: 3;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
    }
  }


@media (max-width: 500px) {
    .card-columns {
      -moz-column-count: 2;
      column-count: 2;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
    }
}
